:root{
    --primary-font:'Poppins', sans-serif;
    --secondary-font:'Open Sans', sans-serif;
    --complementary-font:'Montserrat', sans-serif;

    --red:#E63946;
    --yellow-grey:#F1FAEE;
    --dark-blue:#1D3557;
    --grey:#F2F2F2;
    --dark-green:#2A9D8F;
    --yellow:#E9C46A;
    --orange:#F4A261;
    --light-black:#303030;
    --dark-black:#181818;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

main{
    background-image: url(./img/ilahiyacampus.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content:flex-end ;
    width: 100%;
    height: 8vh;
    background-color: rgba(0, 0, 0, 0.192);
}

.nav-elements{
    margin-right: 2em;
}

.nav-elements i{
    color: white;
    cursor: pointer;
}

.nav-elements li{
    display: inline-block;
    list-style: none;
    padding-right: 1em;
    font-weight: 400;
    transition: 1s ease-in-out;
}

.nav-elements li:hover{
    transform: scale(1.2);
}

.nav-elements a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: var(--primary-font);
}

.hamburger-menu{
    background-color: white;
    width: 20px;
    height: 3px;
    transition: all 0.3s ease-in-out;
    display: none;
    cursor: pointer;
}
.hamburger-menu::before,
.hamburger-menu::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: white;
}
.hamburger-menu::before{
    transform: translateY(-7px);
}
.hamburger-menu::after{
    transform: translateY(7px);
}

@media screen and (max-width:768px){
    .navbar{
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.904);
        display: none;
        align-items: center;
        justify-content: center;
        transition: 2s ease-in-out;
        opacity: 0;
    }
    .nav-open{
        display: flex;
        opacity: 1;
    }
    .hamburger-menu{
        position: absolute;
        top: 35px;
        right: 40px;
        display: flex;
        z-index: 1;
    }
    .hamburger-active{
        background: transparent;
    }
    .hamburger-active::before{
        transform: rotate(45deg);
    }
    .hamburger-active::after{
        transform: rotate(-45deg);
    }
    .nav-elements ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .nav-elements li{
        padding: 0.5em 0;
    }
}

/* Landing Page */

.landing-page{
    color: white;
    font-family: var(--primary-font);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left:2em ;
    height: 92vh;
    overflow: hidden;
}

.heading-wrapper h1{
    font-size: 3.5rem;
    line-height: 4rem;
    font-weight: 800;
}

.heading-wrapper p{
    font-size: 0.9rem;
    padding-top:1rem;
    width: 50%;
}

.contactdetails-wrapper{
    margin-top: 3.5em;
    font-size: 0.8rem;
    line-height: 1.8rem;
}

@media screen and (max-width:768px){
    .landing-page{
        align-items: center;
        margin: 0;
        justify-content: center;
        height: 100vh;
    }
    .logo-wrapper{
        width: 100px;
        padding-bottom: 1em;
    }
    .logo-wrapper img{
        width: 100%;
        height: 100%;
    }
    .heading-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .heading-wrapper h1{
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .heading-wrapper p{
        font-size: 0.8rem;
        width: 80%;
    }
    .contactdetails-wrapper h2{
        font-size: 1rem;
        text-align: center;
        line-height: 2rem;
    }
}



.card-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.card{
    margin: 4em 2em;
    flex: 20rem;
    text-align: center;
    font-family: var(--primary-font);
    color: var(--dark-black);
}
.card i{
    padding-bottom: 0.5em;
    color: var(--dark-blue);
    
}
.card p{
    font-size: 0.9rem;
}

@media screen and (max-width:768px){
    .card{
        margin: 1em 2em ;
    }
    .card p{
        padding-top: 0.8em;
        font-size: 0.9rem;
    }
    .card i{
        padding: 0;
    }
}



.course-wrapper{
    text-align: center;
    background-color: var(--dark-black);
    font-family: var(--secondary-font) ;
    margin-top: 2em;
    color: white;
    overflow: hidden;
}
.vl{
    border-right: 1px solid rgba(0, 0, 0, 0.418);
    height: 150px;
}
.courses{
    display: flex;
    align-items: center;
    justify-content: center;
}
.course{
    margin: 3em 4em;
    width: 40%;
}
.head{
    /* background-color: var(--light-black); */
    text-align: center;
    margin:1em 0 1em 0 ;
}
.course-wrapper h1{
    font-family: var(--primary-font);
    padding: 0.5em 0 0 0;
    font-weight: 800;
    font-size: 3rem;
}
.course p{
    font-size: 1rem;
    padding: 1em 0 ;
}
.course button{
    padding: 1rem 0.5rem 3rem 0.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    font-size:1rem ;
    background-color: transparent;
    color: white;
}

@media screen and (max-width:768px){
.course-wrapper h1{
    font-size: 1.9rem;
    padding: 0.3em 0 0 0;
    letter-spacing: 0.1rem;
}
.courses{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.vl{
    display: none;
}
.course{
    margin:1em 0 0 0 ;
    width: 90%;
}
.course p{
    color: rgba(255, 255, 255, 0.705);
    font-size: 0.9rem;
}
}

.popup-container{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
}
.one-active{
    display: flex;
}
.two-active{
    display: flex;
}
.popup{
    background-color: white;
    font-size: 0.8rem;
    width: 600px;
    padding: 5em;
    color: black;
}
.popup h2{
    padding-bottom: 0.5em;
}
.popup i{
    font-size: 1.5rem;
    background-color: white;
}
.popup button{
    border: none;
    outline: none;
    float: right;
}




.pic-wrapper{
    padding: 5em 2em;
    background-color: rgb(255, 255, 255);
    color: black;
    font-family: var(--primary-font);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pic-wrapper p{
    width: 50%;
    text-align: center;
    display: block;
    font-size: 1rem;
}
.pic-wrapper h1{
    font-size: 3em;
    padding: 1em 0 0.5em 0;
}
.pic-read-button{
    margin-top: 1em;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    border: none;
    outline: none;
    background-color: transparent;
    color: black;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bolder;
}
.pic-popup{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.884);
    display: none;
    align-items: center;
    justify-content: center;
}
.pop-active{
    display: flex;
}
.pic-pop-contents{
    background-color: white;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.pic-pop-contents p{
    width: 80%;
}
.pic-pop-contents h1{
    line-height: 3rem;
    text-align: center;
}
.pic-pop-button{
    background-color: white;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 25px;
}
.pic-pop-contents i{
    color: black;
    font-size: 2rem;
}

@media screen and (max-width:768px){
    .pic-wrapper{
        padding: 3em 0.7em;
    }
    .pic-wrapper h1{
        text-align: center;
        font-size: 2rem;
        line-height: 2.5rem;
        padding-top: 0;
        font-weight: 750;
    }
    .pic-pop-contents i{
    font-size: 1rem;
    }
    .pic-pop-contents p{
    width: 95%;
    }
    .pic-wrapper p{
    width: 90%;
    color: var(--light-black);
    }
    .pic-wrapper button{
        color: var(--light-black);
        font-size: 1.2rem;
    }

} 