@import url(./root/root.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

main {
  background-image: url(./img/ilahiyacampus.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

@media screen and (max-width:768px){
  p{
    font-size: 0.7rem;
    font-family: var(--primary-font);
  }
}

p{
  font-size: 1.2rem;
  font-weight: 400;
  font-family: var(--complementary-font);
}


.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 8vh;
  background-color: rgba(0, 0, 0, 0.192);
}

.nav-elements {
  margin-right: 2em;
}

.nav-elements li {
  display: inline-block;
  list-style: none;
  margin: 1rem;
  transition: 1s ease-in-out;
}

.nav-elements li:hover {
  transform: scale(1.2);
}

.nav-elements a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  letter-spacing: 0.1rem;
  font-family: var(--secondary-font);
  font-size: 1.2rem;
}

.hamburger-menu {
  background-color: white;
  width: 20px;
  height: 2px;
  transition: all 0.2s ease-in-out;
  display: none;
  cursor: pointer;
}
.hamburger-menu::before,
.hamburger-menu::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: white;
}
.hamburger-menu::before {
  transform: translateY(-7px);
}
.hamburger-menu::after {
  transform: translateY(7px);
}

@media screen and (max-width: 768px) {
  .navbar {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0,0.9);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 8;
  }
  .nav-open {
    display: flex;
  }
  .hamburger-menu {
    position: absolute;
    top: 45px;
    right: 40px;
    display: flex;
    z-index: 9;
    transition: all 1s ease-in-out;
  }
  .hamburger-active {
    position: fixed;
    background: transparent;
  }
  .hamburger-active::before {
    transform: rotate(45deg);
  }
  .hamburger-active::after {
    transform: rotate(-45deg);
  }
  .nav-elements ul {
    text-align: center;
    transform: translateX(15%);
  }
  .nav-elements li{
    display: block;
  }
  
}

/* Landing Page */

.landing-page {
  color: white;
  font-family: var(--primary-font);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 2em;
  height: 92vh;
  overflow: hidden;
}

.heading-wrapper h1 {
  font-size: 3.5rem;
  line-height: 4rem;
  font-weight: 700;
  padding-bottom: 0.3rem;
}

.heading-wrapper p {
  font-size: 1.2rem;
  padding-top: 1rem;
  width: 70%;
  font-weight: 400;
}
.heading-wrapper h3 {
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: .1rem;
}

.contactdetails-wrapper {
  margin-top: 7rem;
  font-size: 0.8rem;
  line-height: 1.8rem;
  letter-spacing: 0.1rem;
}


@media screen and (max-width: 768px) {
  .landing-page {
    align-items: center;
    margin: 0;
    justify-content: center;
    height: 100vh;
  }
  .logo-wrapper {
    width: 100px;
    padding-bottom: 1em;
  }
  .logo-wrapper img {
    width: 100%;
    height: 100%;
  }
  .heading-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .heading-wrapper h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .heading-wrapper h3 {
    font-weight: 500;
    font-size: 0.9rem;
  }
  .heading-wrapper p {
    font-size: 0.9rem;
    width: 90%;
    text-align: left;
  }
  .contactdetails-wrapper h2 {
    font-size: 1rem;
    text-align: center;
    line-height: 2rem;
  }
}

.card-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  margin: 4em 4em;
  flex: 20rem;
  text-align: center;
  font-family: var(--primary-font);
  color: var(--dark-black);
}
.card i {
  color: var(--dark-blue);
  font-size: 2.5rem;
}
.card p {
  color: var(--light-black);
}

@media screen and (max-width: 768px) {
  .card {
    margin: 1.5em 2em;
  }
  .card p {
    font-size: 0.9rem;
  }
  .card i {
    padding: 0;
    padding-bottom: 0.2em;
  }
}

.course-wrapper {
  text-align: center;
  background-color: var(--orange);
  font-family: var(--primary-font);
  margin-top: 2em;
  color: var(--light-black);
}

.courses {
  display: flex;
  align-items: center;
  justify-content: center;
}
.course {
  margin: 3em 3em;
  width: 50%;
}
.head {
  text-align: center;
  margin: 1em 0;
}
.course-wrapper h1 {
  font-family: var(--primary-font);
  padding: 0.5em 0 0 0;
  font-weight: 600;
  font-size: 3rem;
}
.course p {
  padding: 1em 0;
}
.course h2 {
  font-family: var(--complementary-font);
  font-size: 2.5rem;
}
.course h3{
  font-size: 1.5rem;
}
.course button {
  padding: 0.5rem;
  border: none;
  border-radius: 7px;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  background-color: white;
  margin:1rem ;
}

@media screen and (max-width: 768px) {
  .course-wrapper h1 {
    font-size: 2rem;
    padding: 0.3em 0 0 0;
    font-family: var(--primary-font);
  }
  .courses {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .course {
    margin: 1em 0 0 0;
    width: 90%;
  }
  .course p{
    text-align: left;
  }
  
  .course h2 {
    font-size: 1.4rem;
  }
  .course h3{
    font-size: 1rem;
  }
  .course button{
    font-size: 0.9rem;
    padding: 0.4rem;
  }
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
}
.one-active {
  display: flex;
  z-index: 8;
}
.two-active {
  display: flex;
  z-index: 8;
}
.popup {
  background-color: white;
  width: 600px;
  padding: 2em;
  color: black;
  text-align: left;
}
.popup h2 {
  padding-bottom: 0.5em;
  font-family: var(--primary-font);
}
.popup h3{
  padding: 1rem;
}
.popup i {
  font-size: 1.5rem;
  background-color: white;
}
.popup button {
  border: none;
  outline: none;
  float: right;
}

@media screen and (max-width:768px){
  .popup p{
    font-size: 0.8rem;
  }
}


.pic-wrapper {
  padding: 5em 2em 1em 3em;
  background-color: rgb(255, 255, 255);
  color: black;
  font-family: var(--complementary-font);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pic-wrapper p {
  width: 80%;
  text-align: center;
  display: block;
  font-weight: 700;
}
.pic-wrapper h1 {
  font-size: 3em;
  font-weight: 800;
  padding: 1em 0 0.5em 0;
}
.features {
  padding: 2rem;
  text-align: center;
}
.features h2{
  margin: 0.5rem;
  background-color: var(--light-black);
  padding: 0.5rem;
  color: white;
}
.features ul{
  padding: 0.5rem 1rem;
  list-style-type: circle;
}
.features li{
  padding: 0.2rem;
}
.features p{
  font-weight: 300;
  text-align: left;
}
.pic-read-button {
  margin-top: 2rem;
  padding: 0.5rem;
  background-color: var(--orange);
  font-size: 1.1rem;
  color: var(--dark-black);
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.pic-popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.884);
  display: none;
  align-items: center;
  justify-content: center;
}
.pop-active {
  display: flex;
  z-index: 8;
}
.pic-pop-contents {
  background-color: white;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.pic-pop-contents p {
  width: 90%;
  text-align: left;
}

.pic-pop-contents h1 {
  line-height: 2rem;
  text-align: center;
}
.pic-pop-contents h2 {
  text-align: left;
  padding: 0.5rem;
}
.pic-pop-button {
  background-color: transparent;
  margin: 0;
  padding: 0;
  color: var(--light-black);
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}
.pic-pop-contents i {
  color: black;
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .features h2{
    font-size: 1.3rem;
  }
  .pic-wrapper {
    padding: 3em 0.7em;
  }
  .pic-wrapper h1 {
    text-align: center;
    font-size: 2rem;
    line-height: 2.5rem;
    padding-top: 0;
    font-weight: 750;
  }
  .pic-pop-contents i {
    font-size: 1rem;
  }
  .pic-pop-contents p {
    width: 95%;
    font-size: 0.9rem;
  }
  .pic-wrapper p {
    width: 99%;
    font-size: 0.9rem;
    color: var(--light-black);
  }
  .pic-wrapper button {
    color: var(--light-black);
    font-size: 1rem;
    font-weight: 500;
    padding: 0.8rem;
    margin: 0;
    background-color: transparent;
    border: none;
    margin-bottom: 1rem;
  }
}

footer {
  width: audo;
  height: 300px;
  background-color: var(--dark-black);
  font-family: var(--complementary-font);
}

.footer-container {
  padding: 3em;
  height: inherit;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  color: white;
}

.footer-text p {
  font-size: 1.1rem;
}
.footer-text a {
  text-decoration: none;
  color: white;
}
.social-media {
  font-size: 1.8rem;
}
.social-media i {
  padding-right: 1rem;
}
.social-media a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 768px) {
  footer {
    background-color: white;
    height: 150px;
  }
  .footer-container {
    padding: 1rem;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .footer-text p {
    font-size: 0.9rem;
    text-align: center;
    font-weight: 100;
    padding-bottom: 0.5rem;
  }
  .footer-text a {
    color: rgb(0, 0, 0);
  }
  .social-media {
    font-size: 1.5rem;
  }
  .social-media i {
    padding: 1rem 0.7rem;
  }
  .social-media a {
    color: rgb(0, 0, 0);
  }
}

.contact-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: var(--primary-font);
  color: var(--dark-black);
}

.text h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3rem;
}
.text h2 {
  font-size: 1.3rem;
  font-weight: 500;
  padding-top: 0.5rem;
}
.form-container {
  width: 700px;
  margin: 4em 0;
}

input {
  border: 1px solid rgba(128, 128, 128, 0.404);
  padding: 0.8rem 1rem;
  width: 100%;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
textarea {
  border: 1px solid rgba(128, 128, 128, 0.404);
  padding: 0.8rem 1rem;
  width: 100%;
  font-family: var(--primary-font);
  font-size: 1.1rem;
  height: 150px;
  outline: none;
}
.sumbit-btn {
  font-size: 1.2rem;
  background-color: var(--light-black);
  color: white;
  border-radius: 5px;
  width: 20%;
  margin-top: 0.5rem;
}

@media screen and (max-width:768px){
  .contact-wrapper{
    flex-direction: column;
    align-items: flex-start;
  }
  .text{
    padding-left: 1rem;
  }
  .text h1{
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 2.5rem;
    text-align: left;
  }
  .text h2{
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0;
  }
  .form-container{
    width: 100%;
    margin: 0;
    padding: 1rem;
  }
  input{
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }
  textarea{
    font-size: 0.9rem;
  }
  .sumbit-btn{
    width: 30%;
    font-size: 0.8rem;
  }
 
}




.quote-wrapper{
  padding: 5rem;
  font-family: var(--secondary-font);
  z-index: 2;
}
.quote-card{
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: none;
  overflow: hidden;
  text-align: center;
  margin-right: 4rem;
}
.profile-img img{
  width: 200px;
  height: 200px;
}
.quote{
  width: 50%;
  text-align: left;
}
.quote h3{
  text-align: right;
  padding: 0.8rem 4rem 0 0;
}
.quote h4{
  text-align: right;
  padding: 0 4rem 0 0;
}
.quote p{
  line-height: 1.5rem;
  color: var(--light-black);
  padding-left:1rem ;
}
/* .q-symbol::before{
  content: open-quote;
  color: var(--red);
  font-size: 5rem;
  font-family: var(--primary-font);
  padding-left: 0.5rem;
} */
.quote i{
  color: var(--red);
  font-size: 1.5rem;
}

@media screen and (max-width:768px){
  .quote-wrapper{
    padding: 0;
    padding-bottom: 4rem;
  }
  .quote-card{
    flex-direction: column;
  }
  .profile-img{
    width: 150px;
    height: 150px;
    margin: 0 0 0.2rem 0;
    text-align: center;
  }
  .profile-img img{
    width: 150px;
    height: 150px;
  }
  .quote{
    width: 99%;
  }
  .quote h3{
  text-align: right;
  padding: 0 4rem 0rem 0;
}
  .quote h4{
  text-align: right;
  padding: 0 4rem 2rem 0;
}
.quote p{
  font-size: 0.9rem;
  line-height: 1.1rem;
  padding: 0.5rem 1.5rem;
}
.quote i{
  font-size: 1rem;
  padding-left: 0.5rem;
}
}